



header{
    background-color: aqua;

    img{
        width: 100px;
    }
    nav{
        background-color: black;
        padding: 100px;

    }

    a{
        background-color: black;
        color: wheat;
    }
}